@font-face {
  font-family: "Anurati";
  src: url("Anurati.otf");
}
:root {
  --skypink: rgba(255, 204, 255);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: red;
  min-height: 2000px;
  background-image: url("background.png");
  background-repeat: no-repeat;
}
nav {
  transition: ease 0.5s;
}
nav .navbar-brand {
  font-weight: 600;
}
nav ul li {
  transform: translateY(-3px);
  transition: ease 0.5s;
}

nav ul li:hover {
  transform: translateY(2px);
}

.A {
  overflow-y: ;
}

.Home {
  width: auto;
  height: 400px;
}
#calendar {
  height: 200px;
  width: 370px;
  /* background-color: red; */
  position: relative;
  text-align: center;
  top: 150px;
  left: 107px;
  cursor: pointer;
  bottom: -10px;
}

#day {
  font-family: "Anurati", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: -5px;
}
#date {
  font-size: large;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
#month {
  font-size: larger;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
#clock {
  font-size: large;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.barier {
  position: relative;
  top: -10px;
  background-image: linear-gradient(rgba(255, 255, 0, 0), var(--skypink));
  width: auto;
  height: 200px;
  bottom: -10px;
}

.About {
  width: auto;
  height: 300px;
  background-color: var(--skypink);
  margin: 0;
  margin-top: -10px;
}
