@font-face {
  font-family: "Anurati";
  src: url("Anurati.otf");
}
:root {
  --pink: rgba(255, 204, 255);
}
.hAbout,
.hProjects,
.hContact {
  font-family: "Anurati", sans-serif;
  text-transform: uppercase;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: hsl(250, 100%, 43%); */
  /* min-height: auto; */
  background-image: url("background.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  background-position: center;
  background-size: cover; */
}
nav {
  transition: ease 0.5s;
}
nav .navbar-brand {
  font-weight: 600;
}
nav ul li {
  transform: translateY(-3px);
  transition: ease 0.5s;
}

nav ul li:hover {
  transform: translateY(2px);
}

.A {
  overflow-y: ;
}

.Home {
  width: auto;
  min-height: 584px;
}
#calendar {
  height: 200px;
  width: 370px;
  /* background-color: red; */
  position: relative;
  text-align: center;
  top: 150px;
  left: 107px;
  cursor: pointer;
  bottom: -10px;
}

#day {
  font-family: "Anurati", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: -5px;
}
#date {
  font-size: large;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
#month {
  font-size: larger;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
#clock {
  font-size: large;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.barier {
  position: relative;
  background-image: linear-gradient(rgba(255, 255, 0, 0), var(--pink));
  width: auto;
  height: 190px;
  margin: 0;
  top: 200px;
}

.About {
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: 594px;
  margin: 0;
}

#Projects {
  background-color: var(--pink);
  min-height: 594px;
}
#Contact {
  background-color: var(--pink);
  min-height: 57x4px;
}
footer {
  width: auto;
  height: 30px;
  margin: 0;
  background-color: ;
}
